{% block content %}
    <h1>Make a post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.tweet.label }}<br>
            {{ form.tweet(size=160) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p id="count">160</p>
    <script>
        var max_chars = 160;
        var count = document.getElementById("count");
        count.textCont
        document.getElementById("tweet")
                    .addEventListener("keyup", function(event) {
            count.textContent = String(max_chars - document.getElementById("tweet").value.length);
        });
    </script>
{% endblock %}