{% block content %}
    <h1>Make a post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.tweet.label }}<br>
            {{ form.tweet(size=160) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p id="#count">160</p>
    <script>
        var count = document.getElementById("count");
        var field = document.getElementById("tweet");
        field.addEventListener("keydown", function(event) {
            count.value = 160 - document.getElementById("tweet").value;
        });
    </script>
{% endblock %}